<p>showdetails works!</p>
<table align="center" width="50" border="1">
    <tr>
        <th>FirstName</th>
        <th>Lastname</th>
        <th>Date of birth</th>
        <th>Gender</th>
        <th>Email</th>
        <th colspan="2">Operations</th>
    </tr>
    <tr *ngFor="let x of data">
        <td>{{x['f_name']}}</td>
        <td>{{x['l_name']}}</td>
        <td>{{x['dob']}}</td>
        <td>{{x['gender']}}</td>
        <td>{{x['email']}}</td>
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>
</table>